{% extends './Base.html' %}

{% block title %}Registro{% endblock %}

{% block customCSS %}
<link rel="stylesheet" href="{{url_for('static', filename='css/login.css')}}">
{% endblock %}

{% block body %}
<main class="form-signin w-100 m-auto" action="/log-in" method="POST">
    <form>
      <img class="mb-4" src="{{url_for('static', filename='img/Imagen1.png')}}" alt="" width="72" height="57">
      <h1 class="h3 mb-3 fw-normal">Registrate</h1>
  
      <div class="form-floating">
          <input type="text" class="form-control" id="floatingInput" name="name" placeholder="Carlos Bilardo">
          <label for="floatingInput">Nombre y apellido</label>
      </div>
      <div class="form-floating">
          <input type="email" class="form-control" id="floatingInput" name="email" placeholder="name@example.com">
          <label for="floatingInput">Email address</label>
      </div>
      <div class="form-floating">
          <input type="password" class="form-control" id="floatingPassword" name="password" placeholder="Password">
          <label for="floatingPassword">Password</label>
      </div>
  
      <button class="w-100 btn btn-lg btn-primary" type="submit">Registrate</button>
      
    </form>
  </main>
{% endblock %}